﻿<div class="row">
    <div class="col-md-12">
        <h2>Home Page</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Test</td>
                    <td>1/1/1970</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
